
<div id="home" class="mtx">
    <h1 class="text-center text-white display-1 fw-bold shadow bg-transparent">Manga Village</h1>
    <p id="frase" class="text-center text-white display-6 shadow bg-transparent fw-bold"></p>
    <div class="text-center mt-3">
        <a href="@Url.Action("Login", "Utente")" class="btn btn-success text-light fs-5 fw-bold shadow">
            Accedi
        </a>
        <a href="@Url.Action("Archivio", "Manga")" class="btn btn-success text-light fs-5 fw-bold shadow">
            Archivio
        </a>
    </div>
</div>