/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* HOME */
#home {
    height: 58vh;
}

.home{
    background: url('/Content/Sito/home.jpg') no-repeat center center fixed;
    background-size: cover;
}

.mtx {
    margin-top: 25vh;
}

.shadow{
    text-shadow: 2px 2px 15px black;
}

/*.hover-effect:hover {
    transform: scale(2);*/ /* Increase the size by 5% on hover */
    /*transition: transform 0.2s ease-in-out;  Add a smooth transition effect 
}*/

/*.animated-box {
    animation-name: my-animation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes my-animation {
    from {
        transform: scale(0.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}*/


div.card:hover {
    transform: scale(1.2); /* INDECISIONE SU ZOOM IN O ZOOM OUT */
    z-index: 9;
}

/* Animazione per il contenuto all'interno della carta (facoltativo) */
div.postit {
    animation: attack 2s;
    transition-duration: 1.5s;
}

@keyframes attack {
    0% {
        opacity: 0;
        transform: scale(10);
        /*transform: rotate(360deg);*/
    }

    100% {
        opacity: 1;
        transform: scale(1);
        transform: rotate(0deg);
    }
}

.btn-success {
    background-color: #7F9B66 !important;
    border-color: #7F9B66 !important;
}