/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Home */
#home {
    height: 58vh;
}

.home{
    background: url('/Content/Sito/home.jpg') no-repeat center center fixed;
    background-size: cover;
}

.mtx {
    margin-top: 20vh;
}

.shadow{
    text-shadow: 0px 0px 15px black;
}

/* Animazioni card */
div.card:hover {
    transform: scale(1.2);
    z-index: 9;
}

div.postit {
    animation: attack 2s;
    transition-duration: 1.5s;
}

@keyframes attack {
    0% {
        opacity: 0;
        transform: scale(10);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        transform: rotate(0deg);
    }
}

/* Bottoni */
.btn-success, .btn-wg:hover {
    background-color: #7F9B66 !important;
    border-color: #7F9B66 !important;
    color: white;
}

    .btn-success:hover {
        background-color: #a9d186 !important;
        border-color: #a9d186 !important;
        color: white;
    }

.btn-wg {
    border: 1px solid #7F9B66;
}

.btn-danger {
    background-color: #c70202 !important;
    border-color: #c70202 !important;
}

    .btn-danger:hover {
        background-color: #eb5252 !important;
        border-color: #eb5252 !important;
    }

.btn-warning {
    background-color: #e8d902 !important;
    border-color: #e8d902 !important;
}

    .btn-warning:hover {
        background-color: #f7ee6d !important;
        border-color: #f7ee6d !important;
    }

/* Sfondi */
.archivio {
    background: url('/Content/Sito/archivio.jpg') no-repeat center center fixed;
    background-size: cover;
}

div .chat {
    background: url('/Content/Sito/chat.jpg') no-repeat center center;
    background-size: cover;
}

.carrello {
    background: url('/Content/Sito/vuoto.jpeg') no-repeat center center;
    background-size: cover;
    height:100vh;
}

.ordini {
    background: url('/Content/Sito/ordini2.jpeg') no-repeat center center;
    background-size: cover;
}

/* Altro */
.cover {
    object-fit:cover;
}

.middle {
    vertical-align: middle;
}

.opacity{
    opacity: 0.9;
}

.ontop {
    z-index:10;
}